.toolbar {

    background-color: #D9D9D9;

    .logo {
        height: 5vh;
        width: auto;
        padding-right: 15px;
    }

    .title {
        font-family:'Times New Roman', Times, serif;
        font-size: 24px;
    }
}